<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>The Closet</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="aj.min.css">
    <link rel="stylesheet" href="sweetalert2.min.css">
    <link rel="stylesheet" href="font/flaticon.css">
    <script src="vue.js"></script>
    <script src="vue-resource.js"></script>
    <script src="flatpickr.js"></script>
    <script src="fuse.js"></script>
    <script src="sweetalert2.min.js"></script>
    <script src="one-color.js"></script>
</head>

<body>
    <div id="app">
        <header class="navbar ph2 pv3 bg-near-white">
            <section class="fl">
                <a href="#" class="btn btn-link tracked b dib">
                    <span class="purple">The Closet</span>
                </a>
        </header>
        <div class="container">
            <div class="row pt3 cf">
                <div class="four columns pb4">
                    <div class="p3 dim bg-primary white">
                        Add Closet Items
                    </div>
                    <div class="p3 dim">
                        Rank Styles
                    </div>
                    <div class="p3 dim">
                        What do I wear?
                    </div>
                </div>
                <div class="eight columns">
                    <h3>Add items</h3>
                    <p>You can add items of clothing that are in your closet. Simply type in the color of the clothing, the type, and what styles you are comfortable wearing it (formal, fitness, casual).</p>
                    <div class="row cf">
                        <div class="four columns">
                            <input type="text" placeholder="Article" v-model="article">
                        </div>
                        <div class="four columns">
                            <input type="text" placeholder="Color" v-model="color">
                        </div>
                        <div class="four columns">
                            <input type="checkbox" value="casual" v-model="style">
                            <span>Casual</span>
                            <br>
                            <input type="checkbox" value="fitness" v-model="style">
                            <span>Fitness</span>
                            <br>
                            <input type="checkbox" value="formal" v-model="style">
                            <span>Formal</span>
                            <br>
                        </div>
                    </div>
                    <div class="card p3 mv2 mw6">
                        <h4>Outfit</h4>
                        <div :style="'font-size: 5rem;color:'+parsedColor" :class="get(parsedArticle, 'icon')"></div>
                        <br>
                        <p>{{style.join(", ")}}</p>
                        <button class="btn-primary" v-if="style.length>0&&parsedColor&&parsedArticle" @click="submit">Add Outfit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script>
var app = new Vue({
    el: '#app',
    created: function() {

    },
    data: {
        style: [],
        color: "",
        article: "",
        styles: [{
                title: "Formal",
                tags: ["Formal", "Fancy", "Party"]
            },
            {
                title: "Casual",
                tags: ["School", "Casual", "Chill"]
            },
            {
                title: "Fitness",
                tags: ["Fitness", "Athletic", "Exercise"]
            },
        ],
        articles: [{
                name: "t-shirt",
                icon: "flaticon-shirt-2"
            },
            {
                name: "jacket",
                icon: "flaticon-cardigan"
            },
            {
                name: "jeans",
                icon: "flaticon-jeans-1"
            },
        ],
    },
    computed: {
        parsedArticle: function() {
            return new Fuse(this.articles, { keys: ["name"] }).search(this.article)[0]; // "list" is the item array
        },
        parsedColor: function() {
            if (this.color != "" && one.color(this.color.replace(/\s+/g, '')))
                return one.color(this.color.replace(/\s+/g, '')).hex()
            return "black"
        },
    },
    methods: {
        get: function(obj, key) {
            return key.split(".").reduce(function(o, x) {
                return (typeof o == "undefined" || o === null) ? o : o[x];
            }, obj);
        },
        submit: function() {
            var test = {
                type: this.parsedArticle.name,
                color: this.parsedColor,
                style: this.style,
                weathers: [],
            }
            this.$http.post('http://localhost:3000/newArticle', test).then(function() {
                swal("Form Submitted")
                swal(
                    'Success!',
                    'You added an outfit',
                    'success'
                )
            }, function() {
                swal(
                    'Oops...',
                    'Something went wrong!',
                    'error'
                )

            });
        }
    }
})
</script>
</html>