<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Dressr</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="aj.min.css">
    <link rel="stylesheet" href="sweetalert2.min.css">
    <link rel="stylesheet" href="font/flaticon.css">
    <link rel="stylesheet" href="spectre-icons.min.css">
    <script src="vue.js"></script>
    <script src="vue-resource.js"></script>
    <script src="flatpickr.js"></script>
    <script src="fuse.js"></script>
    <script src="sweetalert2.min.js"></script>
    <script src="one-color.js"></script>
    <link rel="shortcut icon" type="image/png" href="/favicon.png" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400" rel="stylesheet">
    <style>
    body {
        font-family: "Roboto"
    }
    </style>
</head>

<body>
    <div id="app">
        <header class="navbar p2 bg-near-white">
            <section class="fl container">
                <a href="#" class="btn btn-link tracked b dib">
                    <span class="purple ttu tracked">Dressr</span>
                </a>
        </header>
        <div class="container">
            <div class="row pt3 cf">
                <div class="three columns pb4">
                    <div class="p3 dim bg-primary white hand">
                        Closet Items
                    </div>
                    <div class="p3 dim hand" onclick="location.href='rank.html'">
                        Rank Styles
                    </div>
                    <div class="p3 dim hand">
                        What do I wear?
                    </div>
                    <br>
                    <div class="p3 dim hand">
                        About
                    </div>
                </div>
                <div class="nine columns">
                    <h3>Add items</h3>
                    <p>Add clothes that you own. Simply type in the <a href="http://colours.neilorangepeel.com/">color</a> of the clothing, the type (shorts, jeans, t-shirt), andthe styles you wear it (formal, fitness, casual).</p>
                    <div class="row cf">
                        <div class="four columns">
                            <input type="text" placeholder="Article" v-model="article">
                        </div>
                        <div class="four columns">
                            <input type="text" placeholder="Color" v-model="color">
                        </div>
                        <div class="four columns">
                            <input type="checkbox" value="casual" v-model="style">
                            <span>Casual</span>
                            <br>
                            <input type="checkbox" value="fitness" v-model="style">
                            <span>Fitness</span>
                            <br>
                            <input type="checkbox" value="formal" v-model="style">
                            <span>Formal</span>
                            <br>
                        </div>
                    </div>
                    <div class="card p3 mv2 tc mw6" v-if="style.length>0||parsedColor||parsedArticle">
                        <h4>{{style.join(", ")}}</h4>
                        <div :style="'font-size: 5rem;color:'+parsedColor" :class="get(parsedArticle, 'icon')"></div>
                        <button class="btn-primary" v-if="style.length>0&&parsedColor&&parsedArticle" @click="submit">Add Outfit</button>
                    </div>
                    <br>
                    <div class="row cf" v-for="row in allArticles">
                        <div class="four columns tc" v-for="article in row">
                            <div class="card p3 mv2 mw6">
                                <div :style="'font-size: 5rem;color:'+article.color" :class="parseArticle(article.type).icon"></div>
                                <p class="silver">{{article.style.join(" | ")}}</p>
                                <i class="icon icon-cross f4 red mh2 hand" @click="removeArticle(article.uid)">Delete</i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script>
Array.prototype.chunk = function(groupsize) {
    var sets = [];
    var chunks = this.length / groupsize;

    for (var i = 0, j = 0; i < chunks; i++, j += groupsize) {
        sets[i] = this.slice(j, j + groupsize);
    }

    return sets;
};
var app = new Vue({
    el: '#app',
    created: function() {
        this.updateArticles()
    },
    data: {
        style: [],
        color: "",
        article: "",
        articles: [{
                name: "t-shirt",
                icon: "flaticon-shirt-2"
            },
            {
                name: "jacket",
                icon: "flaticon-cardigan"
            },
            {
                name: "jeans",
                icon: "flaticon-jeans-1"
            },
            {
                name: "shorts",
                icon: "flaticon-swimsuit-1"
            }
        ],
        allArticles: [],
    },
    computed: {
        parsedArticle: function() {
            return new Fuse(this.articles, { keys: ["name"] }).search(this.article)[0]; // "list" is the item array
        },
        parsedColor: function() {
            if (this.color != "" && one.color(this.color.replace(/\s+/g, '')))
                return one.color(this.color.replace(/\s+/g, '')).hex()
            return null
        },
    },
    methods: {
        get: function(obj, key) {
            return key.split(".").reduce(function(o, x) {
                return (typeof o == "undefined" || o === null) ? o : o[x];
            }, obj);
        },
        updateArticles: function() {
            var self = this;
            this.$http.get("/getCloset").then(function(resp) {
                self.allArticles = resp.body.reverse().chunk(3)
            })
        },
        parseArticle: function(type) {
            return new Fuse(this.articles, { keys: ["name"] }).search(type)[0]; // "list" is the item array
        },
        removeArticle: function(uid) {
            var self = this
            this.$http.delete("/removeArticle?uid=" + uid).then(function(resp) {
                self.updateArticles()
                swal("Article of Clothing removed from Closet")
            })
        },
        submit: function() {
            var test = {
                type: this.parsedArticle.name,
                color: this.parsedColor,
                style: this.style,
                weathers: [],
            }
            var self = this;
            this.$http.post('/newArticle', test).then(function() {
                swal("Form Submitted")
                swal(
                    'Success!',
                    'You added an article of clothing',
                    'success'
                )
                self.updateArticles()
            }, function() {
                swal(
                    'Oops...',
                    'Something went wrong!',
                    'error'
                )

            });
        }
    }
})
</script>

</html>