<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>The Closet</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="aj.min.css">
    <link rel="stylesheet" href="sweetalert2.min.css">
    <link rel="stylesheet" href="font/flaticon.css">
    <script src="vue.js"></script>
    <script src="vue-resource.js"></script>
    <script src="fuse.js"></script>
    <script src="sweetalert2.min.js"></script>
    <script src="one-color.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400" rel="stylesheet">
    <style>
    body {
        font-family: "Roboto"
    }
    </style>
</head>

<body>
    <div id="app">
        <header class="navbar ph2 pv3 bg-near-white">
            <section class="fl">
                <a href="#" class="btn btn-link tracked b dib">
                    <span class="purple">The Closet</span>
                </a>
        </header>
        <div class="container">
            <div class="row pt3 cf">
                <div class="four columns pb4">
                    <div class="p3 dim" onclick="location.href='/closet.html'">
                        Closet Items
                    </div>
                    <div class="p3 dim bg-primary white">
                        Rank Styles
                    </div>
                    <div class="p3 dim">
                        What do I wear?
                    </div>
                </div>
                <div class="eight columns">
                    <h3>Rank Styles</h3>
                    <p>You can see potential outfits here and rank them based on how much you like them. </p>
                    <div class="row cf" v-for="row in allOutfits">
                        <div class="four columns" v-for="outfit in row">
                            <div class="card p3 mv2 mw6">
                                <h4>Outfit</h4>
                                <div v-for="article in outfit.sort(function(a,b){if(a.pos=='bottom'){return 1} else return -1})">
                                    <div :style="'font-size: 5rem;color:'+article.color" :class="parsedArticle(article.type).icon"></div>
                                </div>
                                <br>
                                <button class="btn-primary mh2" @click="newOutfit(outfit, true)">Like</button> <button class="btn-primary mh2" @click="newOutfit(outfit, false)">Dislike</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script>
Array.prototype.chunk = function(groupsize) {
    var sets = [];
    var chunks = this.length / groupsize;

    for (var i = 0, j = 0; i < chunks; i++, j += groupsize) {
        sets[i] = this.slice(j, j + groupsize);
    }

    return sets;
};
var app = new Vue({
    el: '#app',
    created: function() {
        this.updateOutfits();
    },
    data: {
        style: [],
        allOutfits: [],
        articles: [{
                name: "t-shirt",
                icon: "flaticon-shirt-2"
            },
            {
                name: "jacket",
                icon: "flaticon-cardigan"
            },
            {
                name: "jeans",
                icon: "flaticon-jeans-1"
            },
            {
                name: "shorts",
                icon: "flaticon-swimsuit-1"
            }
        ],
    },
    computed: {},
    methods: {
        get: function(obj, key) {
            return key.split(".").reduce(function(o, x) {
                return (typeof o == "undefined" || o === null) ? o : o[x];
            }, obj);
        },
        updateOutfits: function() {
            var self = this;
            this.$http.get("http://localhost:3000/getOutfits").then(function(resp) {
                self.allOutfits = resp.body.reverse().chunk(3)
            })
        },
        parsedArticle: function(type) {
            return new Fuse(this.articles, { keys: ["name"] }).search(type)[0]; // "list" is the item array
        },
        newOutfit: function(outfit, like) {
            var self = this;
            url = ""
            if(like){
                url = "http://localhost:3000/likeOutfit"
            } else {
                url = "http://localhost:3000/dislikeOutfit"
            }

            this.$http.post(url, outfit).then(function() {
                swal("Form Submitted")
                swal(
                    'Success!',
                    'You added an outfit',
                    'success'
                )
                self.updateOutfits()
            }, function() {
                swal(
                    'Oops...',
                    'Something went wrong!',
                    'error'
                )

            });
        }
    }
})
</script>

</html>