<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>The Closet</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="aj.min.css">
    <link rel="stylesheet" href="sweetalert2.min.css">
    <link rel="stylesheet" href="font/flaticon.css">
    <link rel="stylesheet" href="spectre-icons.min.css">
    <script src="vue.js"></script>
    <script src="vue-resource.js"></script>
    <script src="fuse.js"></script>
    <script src="sweetalert2.min.js"></script>
    <script src="one-color.js"></script>
    <script src="https://s3-us-west-2.amazonaws.com/reallysimpleweather/reallysimpleweather-1.1.0.min.js"></script>
    <link rel="shortcut icon" type="image/png" href="/favicon.png" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400" rel="stylesheet">
    <style>
    body {
        font-family: "Roboto"
    }
    </style>
</head>

<body>
    <div id="app">
        <header class="navbar p2 bg-near-white">
            <section class="fl container">
                <a href="#" class="btn btn-link tracked b dib">
                    <span class="purple ttu ">Dressr</span>
                </a>
        </header>
        <div class="container">
            <div class="row pt3 cf">
                <div class="three columns pb4">
                    <div class="p3 dim hand" onclick="location.href='/index.html'">
                        Closet Items
                    </div>
                    <div class="p3 dim hand" onclick="location.href='/rank.html'">
                        Rank Styles
                    </div>
                    <div class="p3 dim bg-primary white hand">
                        What do I wear?
                    </div>
                </div>
                <div class="nine columns">
                    <h3 class="dib mr3">Wear this today!</h3> <span class="f5 fw4 silver">{{temp}} right now</span>
                    
                    <p>Go ahead and select the style you need, and we'll give you some choices that'll be snazzy!</p>
                    <div class="row cf" v-for="row in allOutfits">
                        <div class="four columns tc" v-for="outfit in row">
                            <div class="card p3 mv2 mw6 center">
                                <div v-for="article in outfit.sort(function(a,b){if(a.pos=='bottom'){return 1} else return -1})">
                                    <div :style="'font-size: 5rem;color:'+article.color" :class="parsedArticle(article.type).icon"></div>
                                </div>
                                <span class="silver">{{outfit[0].style.concat(outfit[1].style).unique().join(", ")}}</span>
                                <br>
                                <!--<i class="icon icon-arrow-up primary hand f4 mh2" @click="newOutfit(outfit, true)"></i>
                                <i class="icon icon-arrow-down primary hand f4 mh2" @click="newOutfit(outfit, false)"></i>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script>
Array.prototype.chunk = function(groupsize) {
    var sets = [];
    var chunks = this.length / groupsize;

    for (var i = 0, j = 0; i < chunks; i++, j += groupsize) {
        sets[i] = this.slice(j, j + groupsize);
    }

    return sets;
};
Array.prototype.unique = function() {
    var a = this.concat();
    for (var i = 0; i < a.length; ++i) {
        for (var j = i + 1; j < a.length; ++j) {
            if (a[i] === a[j])
                a.splice(j--, 1);
        }
    }

    return a;
};
var app = new Vue({
    el: '#app',
    created: function() {
        this.updateOutfits();
    },
    data: {
        style: [],
        allOutfits: [],
        temp: "",
        articles: [{
                name: "t-shirt",
                icon: "flaticon-shirt-2"
            },
            {
                name: "jacket",
                icon: "flaticon-cardigan"
            },
            {
                name: "jeans",
                icon: "flaticon-jeans-1"
            },
            {
                name: "shorts",
                icon: "flaticon-swimsuit-1"
            }
        ],
    },
    computed: {},
    methods: {
        get: function(obj, key) {
            return key.split(".").reduce(function(o, x) {
                return (typeof o == "undefined" || o === null) ? o : o[x];
            }, obj);
        },
        updateOutfits: function() {
            var self = this;
            this.$http.get("/getOutfits").then(function(resp) {
                self.allOutfits = JSON.parse(resp.body).reverse().chunk(3)
            })
        },
        parsedArticle: function(type) {
            return new Fuse(this.articles, { keys: ["name"] }).search(type)[0]; // "list" is the item array
        },
        newOutfit: function(outfit, like) {
            var self = this;
            url = ""
            if (like) {
                url = "/likeOutfit"
            } else {
                url = "/dislikeOutfit"
            }

            this.$http.post(url, outfit).then(function() {
                swal("Form Submitted")
                swal(
                    'Success!',
                    'You added an outfit',
                    'success'
                )
                self.updateOutfits()
            }, function() {
                swal(
                    'Oops...',
                    'Something went wrong!',
                    'error'
                )

            });
        }
    }
})
reallySimpleWeather.weather({
    wunderkey: '', // leave blank for Yahoo API
    location: 'Ann Arbor, MI', //your location here, also works in lat/lon
    woeid: '', // "Where on Earth ID" optional alternative to location
    unit: 'f', // 'c' also works
    success: function(weather) {
        app.temp = weather.temp + '°' + weather.units.temp
        //document.getElementById('weather').innerHTML = html;
    },
    error: function(error) {
        //document.getElementById('weather').innerHTML = '<p>'+error+'</p>';
    }
})
</script>

</html>